.width{
    width: 100%;
    overflow: auto;
}
.shomitirnam {
    position:relative;
    top: -1757px;
    right: 420px; 
    width: 100%;
 } 
.shodoshoNam{
    position:relative;
    top: -1737px;
    right: 390px;
    width: 100%;
} 
.abedonNam{
    position:relative;
    top: -1497px;
    right: 310px;
    width: 100%;
} 
.pitarnam {
    position: relative;
    top: -1435px;
    right: 300px;
    width: 100%;
} 
.gram{
    position: relative;
    top: -1370px;
    right: 400px;
    width: 100%;

}
.union{
  position: relative;
  top: -1400px;
  right: -26px;
  width: 100%;
}
.upazilla{
    position: relative;
    top:-1430px;
    right: -340px;
    width: 100%;
}
.zilla{
    position: relative;
    top: -1370px;
    right: 300px;
    width: 100%;
}
.mobile{
    position: relative;
    top: -1300px;
    right: 170px;
    width: 100%;
}
.boiosh{
    position: relative;
    top: -1080px;
    right: 490px;
    width: 100%;
}
.juggota{
    position: relative;
    top: -1067px;
    right: 370px;
    width: 100%;
}
.shomporko{
    position: relative;
    top: -1050px;
    right: -370px;
    width: 100%;
}
.aai{
    position: relative;
    top: -1667px;
    right: 230px;
    width: 100%;
}
.kotojon{
    position: relative;
    top: -1657px;
    right: 240px;
    width: 100%;
}
.purush{
    position: relative;
    top: -1684px;
    right: -40px;
    width: 100%;
}
.mohila{
    position: relative;
    top: -1720px;
    right: -400px;
    width: 100%;
}
.biboron{
    position: relative;
    top: -1660px;
    width: 100%;
}
.aaiKom{
    position: relative;
    top: -1635px;
    right: 100px;
    width: 100%;
}
.aaiPoriman{
    position: relative;
    top: -1666px;
    right: -240px;
    width: 100%;
}